{% extends 'modelo.html' %}
{% block titulo %} Início {% endblock %}

{% block estilos %}

{% endblock %}
    
{% block conteudo %}
<section>
	<a>	Criar	</a>
<div>
	<a href="" class="botao_menu">GEOMETRIA</a>
	<a href="grupo.html" class="alterado" >FERRAMENTAS</a>
	<a href="oper_0_menu.html" class="alterado">OPERAÇÕES</a></div>
<div>
	<a href="" class="botao_menu">POS PROCESSAR</a>
	<a href="" class="botao_menu">DOC. TÉCNICA</a>
	<a href="" class="botao_menu">MOVER OBJETO</a></div>
<div>
	<a href="" class="botao_menu">RASCUNHO</a>
	<a href=""  class="botao_menu">MEDIR</a>
	<a href="" class="botao_menu">ORIENTAR WCS</a></div>
<div>
	<a href="" class="botao_menu">SIMULAÇÃO</a>
	<a href="" class="botao_menu">TRANSFORMAR</a>
	<a href="" class="botao_menu">DEL_TRANSFORME</a></div>
<div>
	<a href="" class="botao_menu">BARRA DE SELEÇÃO</a></div>
</section>
{% endblock %}