{% extends 'modelo.html' %}
{% block titulo %} Início {% endblock %}

{% block estilos %}

{% endblock %}

{% block header %}
<a href="index.html">
  
	<img alt="bt_voltar" class="bt_voltar" src="/static/imagens/Imagens_Operacao/voltar.png" /></a>
{% endblock %}
    
{% block conteudo %}
<section>

	<a>	OPER_THREAD_MILL	</a>

<form method="POST">

	<div >
		<label for="oper_tipy" class="bt_oculto">Tipo da Operação</label>

		<select class="bt_oculto" type="text" id="oper_tipy" name="oper_tipy" required />


			<option value="">//</option>
 
			<option value="PLANAR_MILL">		Fresagem Perfil</option>
                           
			<option value="ZLEVEL_PROFILE_STEEP">	Fresagem Dinamica 3D</option>
 
			<option value="SPOT_DRILLING">		Furo Centro</option>
                           
			<option value="PECK_DRILLING">		Furar</option>
   
			<option value="VARIABLE_CONTOUR">		Fresagem 4º Eixo</option>
                           
			<option value="CONTOUR_TEXT">		Contorno de Texto</option>

			<option value="THREAD_MILLING">		Rosca Interna</option>
              
			<option value="BOSS_THREAD_MILLING">	Rosca Externa</option>
                           
			<option value="PROFILE_3D">			Contorno 3D </option>
   
		</select>

	</div>
	<div>
		<label for="oper_name" class="botao_menu">Operação</label>
		<input class="botao_menu" type="text" id="oper_name" name="oper_name" required />
	</div>



	<div>
		<label for="group_name" class="botao_menu">Grupo</label>

		<select  class="botao_menu" type="text" id="group_name" name="group_name" required />
   
			<option value="">//</option>
 
			<option value="LADO_1">LADO_1</option>
                           
			<option value="LADO_2">LADO_2</option>
   
		</select>
	</div>
	<div>

		<label for="tool_name" class="botao_menu">Ferramenta</label>

		<select class="botao_menu" type="text" id="tool_name" name="tool_name" required />
 
			<option value="">//</option>
 
			<option value="DESB_D20_H65">DESB_D20_H65</option>
                           
			<option value="ACAB_D16_H40">ACAB_D16_H40</option>

			<option value="THREAD_D15.7_H40">THREAD_D15.7_H40</option>
  
		</select>  
	</div>
	<div>
		<label for="geo_name" class="botao_menu">Geometria</label>

		<select class="botao_menu" type="text" id="geo_name" name="geo_name" required />

			<option value="">//</option>
 
			<option value="MCS_LADO_1">MCS_LADO_1</option>
                           
			<option value="MCS_LADO_2">MCS_LADO_2</option>
   
		</select>
	</div>
	<div>
		<button type="submit" class="bt_form"> Enviar</button>
		<button type="reset"    class="bt_form"> Limpar</button>
	</div>
</form>

</section >
{% endblock %}