{% extends 'modelo.html' %}
{% block titulo %} Início {% endblock %}

{% block estilos %}

{% endblock %}

{% block header %}
<a href="index.html">
  
	<img alt="bt_voltar" class="bt_voltar" src="/static/imagens/Imagens_Operacao/voltar.png" /></a>
{% endblock %}
    
{% block conteudo %}
<section>
	<a>	Criar Operações	</a>
<div>
	<a class="botao_menu" href="">PLANAR_MILL </a>

	<a class="botao_menu" href="">CAVITY_MILL</a>

	<a class="botao_menu" href="">SPOT_DRILLING</a>
</div>
<div>
	<a class="botao_menu" href="">PECK_DRILLING</a>

	<a class="botao_menu" href="">VARIABLE_CONTOUR</a>

	<a class="botao_menu" href="">CONTOUR_TEXT</a></div>
<div>
	<a class="alterado" href="oper_5_thread_mill.html">THREAD_MILLING</a>

	<a class="botao_menu" href="">BOSS_THREAD_MILLING</a>

	<a class="botao_menu" href="">PROFILE_3D</a></div>
</section>
{% endblock %}